<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="bars" id="bars"> 
            
        </div>

        <div class="buttons">
            <button class= "button" id="randomize_array">randomize</button>
            <button class= "button" id="sort_that">sort it</button>
        </div>
    </div>  

    <script src="Section.js" defer></script>
</body>
</html>
